<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    <title>Results</title>
    </head>
    <body>
		<main>
            <section class="boxInfo">
                <h1>Here are the awesome quotes!</h1>
                <div class="infoDetails">
                    <% for( let i = 0; i < users.length; i++ ){  %>
                    <div>
                        
                        <h4> "<%= users[i].quotes %>" </h4>
                        <h6>- <%= users[i].name %> at <%= users[i].created_at.getHours() %>:<%= users[i].created_at.getMinutes() %>, <%= users[i].created_at.toDateString() %>. </h6>
                        
                    </div>
                    <% } %>
                </div>
                <div>
                    <button>
                        <a href="/">Go Back</a>
                    </button>
                </div>
            </section>
        </main>
    </body>
</html>